.user__page {
    // padding-left: 50rem;
    // padding-right: 50rem;

    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;

}

.form__content {
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}