.row {
  flex-direction: row;
}

.align-items-flex-start {
  align-items: flex-start;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-start {
  align-items: flex-start;
}