.booking {
  @include hundredPercentHW();
  @include flexCenterCenter($flex-direction: column, $justify-content: space-between);
  padding: 1rem 2rem;
  grid-column: 2 / -1;
  

  @media (max-width: 950px) {
    width: 100%;
    grid-column: 1 / -1;
  }

  @media (max-width: 450px) {
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    transform: translateY(-5%);


    @media (max-width: 900px) {
      transform: translateY(-4%);
    }

    @media (max-width: 950px) and (max-height: 450px) {
      transform: translateY(0rem);
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  &__label {
    color: $grey-5;
    font-size: var(--font-size-5);
  }

  &__input {
    font-family: inherit;
    font-weight: 300;
    font-size: var(--font-size-4);
    letter-spacing: var(--letter-spacing-1);
    border: none;
    border-bottom: 1px solid black;
    height: 4rem;
    color: $old-blue-2;
    cursor: pointer;
    width: 100%;
    font-size: var(--font-size-4);

    &:focus {
      outline: none;
      border-bottom: 1px solid $old-blue-2;
    }
    
    &--contact {
      border: none;
      border-bottom: 1px solid black;
      height: 3rem;
    }

    &--contact-message {
      height: 30rem;
    }
  }

  &__textarea {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px dashed $green-1;
    height: 20rem;
    color: $old-blue-2;
    resize: vertical;

    &:focus {
      outline: none;
      border: 1px solid $green-1;
    }
  }
}