.container {

  &__main {
    display: grid;
    grid-template-rows: 9.5rem 6rem 4.5rem minmax(min-content, 83vh) 14.5rem;
    grid-template-columns: repeat(5, 20vw);

    position: relative;
    height: max-content;
    width: 100%;

    @media (max-height: 1400px) {
      grid-template-rows: 9.5rem 6rem 4.5rem 121rem 14.5rem;
    }

    @media (max-height: 1300px) {
      grid-template-rows: 9.5rem 6rem 4.5rem 111rem 14.5rem;
    }

    @media (max-height: 1200px) {
      grid-template-rows: 9.5rem 6rem 4.5rem 101rem 14.5rem;
    }

    @media (max-height: 1100px) {
      grid-template-rows: 9.5rem 6rem 4.5rem 91rem 14.5rem;
    }

    @media (max-height: 1000px) {
      grid-template-rows: 9.5rem 6rem 4.5rem 81rem 14.5rem;
    }

    @media (max-height: 950px) {
      grid-template-rows: 9.5rem 6rem 4.5rem minmax(min-content, 81rem) 17.5rem;
    }

    @media (max-height: 900px) {
      grid-template-rows: 9.5rem 6rem 4.5rem minmax(min-content, 71rem) 17.5rem;
    }

    @media (max-height: 800px) {
      grid-template-rows: 9.5rem 6rem 4.5rem minmax(min-content, 61rem) 17.5rem;
    }

    @media (max-height: 700px) {
      grid-template-rows: 9.5rem 6rem 4.5rem minmax(min-content, 51rem) 17.5rem;
    }

    @media (max-height: 600px) {
      grid-template-rows: 9.5rem 6rem 4.5rem minmax(min-content, 41rem) 17.5rem;
    }

    @media (max-height: 500px) {
      grid-template-rows: 9.5rem 6rem 4.5rem minmax(min-content, min-content) 17.5rem;
    }

    @media (max-height: 400px) {
      grid-template-rows: 9.5rem 6rem 4.5rem minmax(min-content, 21rem) 17.5rem;
    }

    @media (max-width: 950px) and (max-height: 450px) {
      grid-template-rows: 5.5rem 3.5rem minmax(100vh, min-content) 12.5rem;
    }
  }

  &__body {
    grid-row: 3 / span 1;
    grid-column: 2 / span 3;

    background-color: $white;
    position: relative;
    display: inline-grid;
    height: min-content;
    
    @media (max-width: 1000px) {
      grid-column: 2 / span 4;
    }

    @media (max-width: 600px) {
      overflow-x: hidden;
    }
  }

  &__screen {
    height: 83vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      height: min-content;
    }

    @media (max-width: 950px) and (max-height: 450px) {
      grid-template-columns: none;
      min-height: 148vh;
    }

    &--sidebar {
      width: 100vw;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(5, 1fr);
      height: 83vh;
      justify-items: center;
      align-items: center;
      position: relative;

      @media (max-width: 950px) and (max-height: 450px) {
        grid-template-columns: none;
        min-height: 148vh;
      }

      @media (max-width: 950px) {
        margin-top: 4.5rem;
      }

      @include mediaQueriesContainerWithSidebar();
    }

    &--no-sidebar {
      height: 100%;
      width: 100vw;
      overflow: scroll;
    
      grid-row: 1 / span 1;
      grid-column: 2 / span 4;
      position: relative;

      @include mediaQueriesContainerWithSidebar();

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(5, 1fr);
      height: 83vh;
      justify-items: center;
      align-items: center;

      @media (max-width: 950px) {
        margin-top: 4.5rem;
      }
    }
  }

  //--------------------home--------------------//

  &__home { 
    &--primary {
      grid-row: 3 / -1;
      grid-column: 2 / span 3;

      width: 100vw;
      position: relative;
      height: min-content;
    }

    &--secondary {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: minmax(min-content, 90rem) minmax(min-content, 100rem) minmax(min-content, 100rem) minmax(min-content, 20vh);
      height: min-content;
      width: 90vw;
      transform: translate(5vw, 0);
      overflow-y: hidden;
      border-right: 0.5px dashed $old-blue-2;
      border-left: 0.5px dashed $old-blue-2;
      background-color: $white;
      position: relative;
      height: min-content;


      @media (max-height: 900px) {
        grid-template-rows: minmax(min-content, 70rem) minmax(min-content, 100rem) minmax(min-content, 100rem) minmax(min-content, 20vh);
      }
      
      @media (max-width: 1050px) {
        grid-template-rows: minmax(min-content, 90rem) minmax(min-content, 175rem) minmax(min-content, 111rem) minmax(min-content, 20vh);
      }

      @media (max-width: 950px) {
        width: 100vw;
        transform: translate(0);
      }

      @media (max-width: 950px) and (max-height: 450px) {
        grid-template-rows: 86vh 400vh 163vh 20vh;
      }

      @media (max-width: 600px) {
        grid-template-rows: minmax(min-content, 90rem) minmax(min-content, 100rem) minmax(min-content, 111rem) minmax(min-content, 20vh);
      }

      @media (max-width: 950px) and (max-height: 450px) {
        grid-template-columns: none;
        min-height: 148vh;
      }

      @media (max-width: 950px) and (max-height: 450px) {
        grid-template-columns: none;
        min-height: 148vh;
      }

      @media (max-width: 400px) and (max-height: 500px) {
        grid-template-rows: 121vh 80vh 0vh 20vh;
      }
    }

    &--appointments {
      @include flexCenterCenter($justify-content: space-around);
      @include hundredPercentHW();
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
      position: relative;
      background: $old-blue-1;

      @media(max-width: 1050px) {
        @include flexCenterCenter($flex-direction: column);
      }
    }

    &--appointments-left {
      @include flexCenterCenter($flex-direction: column);
      padding-left: 5rem;

      @media(max-width: 1050px) {
        padding-left: 0;
        flex-direction: column-reverse;
        padding-bottom: 7rem;
      }

      @media(max-width: 600px) {
        width: 100%;
      }
    }

    &--appointments-right {
      @include hundredPercentHW();
      width: 100%;
      @include flexCenterCenter($flex-direction: column);
      overflow: scroll;
      padding: 0rem;

      @media(max-width: 600px) {
        display: none;
      }
    }

    &--reviews {
      @include flexCenterCenter($flex-direction: column);
      @include hundredPercentHW();
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
      background: $old-blue;
    }

    &--reviews-2 {
      grid-row: 1 / span 1;
      grid-column: 1 / span 3;
      height: 100%;
      overflow: hidden;
    }

    &--reviews-3 {
      height: 100%;
      padding: 2rem;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      overflow: scroll;

      @media (max-width: 600px) {
        padding: 0rem;
      }
    }
  }
  
  &__hero {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;

    background: $old-blue;
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 65%);
    @include flexCenterCenter($justify-content: space-around);
    
    @media (max-width: 950px) {
      flex-direction: column;
    }

    @media (max-width: 450px) {
      padding-left: 0;
    }

    @media (max-height: 950px) {
      position: relative;
    }

    &--content {
      grid-row: 2 / span 2;
      grid-column: 1 / -1;
    }

    &--right {
      @include flexCenterCenter($flex-direction: column, $justify-content: flex-start);
      width: 40rem;
      align-items: center;
      transform: translate(0, -17rem);

      @media (max-width: 950px) {
        transform: translate(0rem, -14rem);
        position: absolute;
        top: 28rem;
      }
    }

    &--text {
      line-height: 5rem;
      transform: translate(0rem, -10rem);

      @media (max-width: 950px) {
        transform: translate(0rem, 0rem);
        @include flexCenterCenter($flex-direction: column);

        position: absolute;
        top: 5rem;
      }
    }
  }

  //--------------------navigation--------------------//

  &__nav {

    &--upper {
      grid-row: 1 / span 1;
      grid-column: 1 / -1;
    }

    &--lower {
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
    }

    &--upper {
      @include hundredPercentHW();
      @include flexCenterCenter($justify-content: space-between);
      background-color: $grey-9;
      border-bottom: 1px solid $grey-6;
      color: $black;
      z-index: 100;

      @media ( max-width: 510px ) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
      }
    }

    &--lower {
      @include hundredPercentHW();
      @include flexCenterCenter($justify-content: space-between);
      background-color: $grey-9;
      border-bottom: 1px solid $grey-6;
      padding: 1rem 1rem 1rem 2rem;
      position: relative;
    }
  }

  &__sidebar {
    padding: 2rem;
    background: $labor-work;
    width: 100%;
    position: absolute;
    height: 100%;
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
    z-index: 99;

    @media (max-width: 950px) {
      @include flexCenterCenter($justify-content: space-around);
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
      width: 100%;
    }

    @media (max-width: 950px) and (max-height: 450px) {
      padding: 1rem;
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
    }

    @media (max-width: 650px ) {
      padding: 1.4rem;
    }
  }

  //--------------------user--------------------//

  &__register {

    &--inputs {
      width: 35rem;
      margin-bottom: 11rem;
      margin-top: 3rem;
    }
  }

  &__profile {
    &--form {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      justify-self: center;
      width: 30rem;
      position: absolute;
      top: 0;
      margin-top: 10%;
    }
  }

  &__login {
    &--form {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      justify-self: center;
    }
  }

  &__register {
    &--form {
      grid-column: 1 / -1;
      @include flexCenterCenter($flex-direction: column);
      width: 35rem;
      overflow: hidden;
    }
  }

  //--------------------toshi--------------------//

  &__toshi {
    grid-column: 2 / span 4;
    width: 72vw;
    padding: 3rem 2rem;
    overflow: scroll;
    cursor: ns-resize;
    position: absolute;
    top: 0;

    @media (max-width: 950px) {
      width: 90vw;
      grid-column: 1 / -1;
    }
    @media (max-width: 500px) {
      padding: 4rem 1rem;
    }
  }

  //--------------------contact--------------------//

  &__contact {
    height: 100%;
    width: 100%;
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    @include mediaQueriesContainerWithSidebar();

    @media (max-width: 950px) {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      height: min-content;
      width: 100%;
    }

    @media (max-width: 950px) and (max-height: 450px) {
      grid-template-columns: none;
      min-height: 148vh;
    }

    
  }

  //--------------------reviews--------------------//

  &__reviews {

    &--home-screen {
      @include hundredPercentHW();
      display: flex;
      grid-column: 2 / -1;
      position: relative;

      @media (max-width: 1050px) {
        flex-direction: column-reverse;
      }

      @media (max-width: 950px) {
        grid-column: 1 / -1;
      }
    }

    &--toshi-screen {
      @include hundredPercentHW();
      display: flex;
      grid-column: 2 / -1;
      padding: 2rem;
      position: relative;

      @media (max-width: 1050px) {
        flex-direction: column-reverse;
      }

      @media (max-width: 950px) {
        grid-column: 1 / -1;
      }
    }
  }

  //--------------------pg-header--------------------//

  &__page-header {
    grid-column: 2 / -1;
    @include flexCenterCenter($flex-direction: column);

    @media (max-width: 950px) {
      grid-column: 1 / -1;
    }
  }

  //--------------------form--------------------//

  &__form {
    width: 100%;
    height: 100%;
    grid-column: 2 / -1;
    padding: 3rem 2rem;
    cursor: ns-resize;
    @include hundredPercentHW();
    @include flexCenterCenter($flex-direction: column, $justify-content: space-between);

    grid-column: 2 / -1;
    height: min-content;
    position: absolute;
    top: 0;

    @media (max-width: 950px) {
      grid-column: 1 / -1;
      
      width: 100%;
    }

    @media (max-width: 950px) and (max-height: 450px) {
      grid-template-columns: none;
    }

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  //--------------------calendar--------------------//

  &__calendar {
    @include hundredPercentHW();

    display: grid;
    grid-column: 2 / -1;
    width: 100%;
    grid-template-rows: 5rem 3rem repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    
    border: 1px solid $black;
    background-color: $grey-7;
    overflow: hidden;
    height: 100%;

    @media (max-width: 950px) {
      grid-column: 1 / -1;
    }

    @media (max-width: 950px) and (max-height: 450px) {
      height: 153vh;
    }
  }

  //--------------------btns--------------------//

  &__btns {

    &--up-down-ui {
      grid-row: 3 / span 1;
      grid-column: 5 / -1;
      height: 100%;
      z-index: 100;
      position: absolute;
      right: 2.5vw;
      top: 70vh;
      @include flexCenterCenter($flex-direction: column, $justify-content: space-between);
    
      @media (max-width: 1000px){
        display: none;
      }
    }

    &--hero {
      grid-row: 1 / span 3;
      grid-column: 2 / span 1;
      width: max-content;
      transform: translate(-0.75rem, 7.5rem);
      z-index: 100;

      @media (max-height: 850px) {
        transform: translate(-1rem, 10.5rem);
      }

      @media (max-width: 950px) {
        display: none;
      }
    }

    &--home-calendar-or-list {
      position: absolute;
      margin-top: 33rem;

      @media(max-width: 1050px) {
        margin-top: 0;
        transform: translateY(57rem);
      }

      @media(max-width: 600px) {
        display: none;
      }
    }

    &--home-3-btns {
      @include flexCenterCenter($justify-content: space-between, $flex-direction: column);
      width: 100%;

      @media (max-width: 1050px) {
        padding-bottom: 32rem;
        display: flex;
      }

      @media (max-width: 600px) {
        padding-bottom: 0;
      }
    }
  }

  //--------------------payments--------------------//

  &__payments {
    @include hundredPercentHW();
    grid-column: 2 / -1;
    padding: 2rem;

    @media (max-width: 950px) {
      grid-column: 1 / -1;
    }

    &--header {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 3rem 3rem;
      align-items: center;
      justify-items: center;
      width : 100%;
      margin-bottom: 1rem;
    }
  }

  &__paypal {
    @include flexCenterCenter();
    width: 100%;
    margin-top: 5rem;

    &--btns {
      width: 30rem;
      text-align: center;
    }
  }

  &__header {

    &--appointments {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 4vh 3vh;
      align-items: center;
      justify-items: center;

      width : 100%;
      margin-bottom: 1rem;
    }
  }

  &__checkout {
    @include hundredPercentHW();
    @include flexCenterCenter($flex-direction: column, $justify-content: stretch);

    grid-row: 1 / span 1;
    grid-column: 2 / span 4;
    padding: 2rem;
    height: 100%;
    overflow: scroll;

    grid-column: 2 / -1;

    @media (max-width: 950px) {
      grid-column: 1 / -1;
      padding: 2rem;
    }
  }

  &__payment {
    grid-row: 1 / span 1;
    grid-column: 2 / -1;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    position: relative;
    @include hundredPercentHW();

    @media (max-width: 950px) {
      padding: 2rem;
      grid-column: 1 / -1;
    }
  }

  //--------------------admin--------------------//

  &__admin {
    @include hundredPercentHW();
    grid-column: 2 / -1;
    padding: 3rem 2rem;
    overflow: hidden;

    @media (max-width: 950px) {
      grid-column: 1 / -1;
    }

    &--table {
      height: min-content;
      overflow: scroll;
      padding-bottom: 2rem;
      width: 100%;
      overflow: scroll;

      @media (max-width: 900px) {
        height: 59vh;
      }
    }

    &--header {
      margin-bottom: 1rem;
    }


    &--edit-appointment {
      grid-row: 1 / span 1;
      padding: 10rem 2rem 10rem 2rem;
      overflow: scroll;

      @include hundredPercentHW();
      @include flexCenterCenter($flex-direction: column, $justify-content: flex-start);
      grid-column: 2 / span 4;
    }

    &--create-appointment {
      @include hundredPercentHW();
      @include flexCenterCenter($flex-direction: column);

      grid-row: 1 / span 1;
      grid-column: 2 / -1;
      width: 40rem;
      padding: 2rem;
      overflow: scroll;

      @media (max-width: 950px) {
        grid-column: 1 / -1;
        width: 88%;
      }

      @media (max-width: 450px) {
        margin: 0 auto;
      }
    }

    &--appointment-requests {
      grid-row: 1 / span 1;
      grid-column: 2 / span 4;

      padding: 2rem;
      height: 100%;
      width: 100%;

      @media (max-width: 950px) {
        grid-column: 1 / -1;
      }
    }

    &--edit-user {
      grid-row: 1 / span 1;
      grid-column: 2 / span 4;
      padding: 10rem 2rem 10rem 2rem;
      height: 100%;
      overflow: scroll;
      position: relative;

      @include hundredPercentHW();
      @include flexCenterCenter($flex-direction: column, $justify-content: flex-start);

      @media (max-width: 480px) {
        padding: 10rem 2rem 0rem 2rem;
      }
    }

    &--reviews {
      grid-row: 1 / span 1;
      grid-column: 2 / span 4;

      @include flexCenterCenter($flex-direction: column, $justify-content: flex-start);

      padding: 2rem;
      position: absolute;
      height: 83vh;
      width: 100%;
      overflow: scroll;
      top: 0;

      @media (max-width: 950px) {
        grid-column: 1 / -1;
        overflow: visible;
      }

      @media (max-width: 600px) {
        padding: 2rem 1rem;
      }

      @media (max-width: 900px) {
        height: 75vh;
      }
    }

    &--edit-review {
      grid-row: 1 / span 1;
      grid-column: 1 / span 3;
      padding: 5rem 2rem 5rem 2rem;
      height: 100%;
      overflow: scroll;
    }
  }


  //--------------------appointments--------------------//

  &__appointments {
    grid-row: 1 / span 1;
    grid-column: 2 / -1;

    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;

    @include hundredPercentHW();

    @media (max-width: 950px) {
      padding: 2rem;
      grid-column: 1 / -1;
    }
  }

  //--------------------coming-soon--------------------//

  &__coming-soon {
    height: 38vh;
  }

//--------------------footer--------------------//

  &__footer {
    grid-row: 5 / span 1;
    grid-column: 1 / -1;
  }
}