.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto auto 1rem auto;

  @media (max-width: 650px) {
    margin: auto auto 2rem auto;
  }

  &__contact-items {
    @include hundredPercentHW();
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__contact-item {
    color: $grey-light-4;
    padding: 0 5rem;
    display: flex;
    align-items: center;

    &:first-child {
      margin-bottom: 3rem;
    }

    &:first-child::after {
      border: 1px dashed $green;
    }

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  &__emoji {
    fill: $grey-light-4;
  }
}

.legal {
  @include hundredPercentHW();
  text-align: center;
  margin: auto;
  color: $grey-light-4;
}