.admin-reviews {

  &__list {
    @include hundredPercentHW();
    // line-height: 3.5rem;
    display: table;

    &--item {
      display: table-row;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(6, 1fr);
      width: 100%;
    }

    &--all {
      @include hundredPercentHW();
      // line-height: 3.5rem;
      grid-row: 1 / span 1;
      grid-column: 2 / span 4;
      font-size: var(--font-size-3);
    }
  }

  &__item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;

    &--posted {
      grid-column: 2 / span 1;
      text-align: center;
      width: 5rem;
      padding: 0.5rem;
      font-size: var(--font-size-4);

      @media (max-width: 500px) {
        width: 5rem;
      }
    }

    &--by {
      grid-column: 1 / span 1;
      text-align: center;
      width: 20rem;
      padding: 2rem;
      font-size: var(--font-size-4);

      @media (max-width: 550px) {
        width: 5rem;
      }

      @media (max-width: 500px) {
        width: 3rem;
        padding: 0.5rem;
      }

      @media (max-width: 450px) {
      }
    }

    &--approved {
      grid-column: 6 / span 1;
      text-align: center;
      width: 4rem;

      @media (max-width: 500px) {
        width: 4rem;
      }
    }

    &--delete {
      grid-column: 4 / span 1;
      text-align: center;
      width: 4rem;
      padding: 2rem;
      font-size: var(--font-size-4);

      @media (max-width: 500px) {
        width: 5rem;
        padding: 2rem 1rem;
      }
    }

    &--msg {
      grid-column: 3 / span 1;
      text-align: center;
      min-height: 5rem;
      width: auto;
      padding: 2rem;
      font-size: var(--font-size-4);

      @media (max-width: 450px) {
        padding: 1rem;
      }
    }
  }

  &__th {
    &--posted {
      grid-column: 1 / span 1;
    }

    &--by {
      grid-column: 2 / span 1;
    }

    &--approved {
      grid-column: 5 / span 1;
    }

    &--delete {
      grid-column: 4 / span 1;
    }

    &--msg {
      grid-column: 3 / span 1;
      text-align: center;
      padding: 0 6.5rem;
    }
  }
}

.th__reviews-list {
  padding: 0 1.5rem;
  font-weight: 500;

  @media (max-width: 450px) {
    padding: 1.25rem 1rem;
  }
}