.users {

  &__list {
    @include hundredPercentHW();
    @include flexCenterCenter($flex-direction: column, $align-items: flex-start, $justify-content: space-between);
    line-height: 3.5rem;

    &--item {
      @include flexCenterCenter($justify-content: space-around);
      width: 100%;
    }
  }

  &__item {
    
    &--name {
      grid-column: 2 / span 2;        
    }

    &--email {
      grid-column: 1 / span 1;
    }

    &--appts {
      grid-column: 4 / span 2;
    }

    &--admin {
      grid-column: 4 / span 2;
    }

    &--btns {
      grid-column: 4 / span 2;
      @include flexCenterCenter();
    }
  }

  &__list {
    @include hundredPercentHW();
    height: min-content;
    // @include flexCenterCenter($flex-direction: column, $align-items: flex-start, $justify-content: space-between);
    line-height: 3.5rem;
    display: table;
    font-size: var(--font-size-4);

    &--item {
      // @include flexCenterCenter($justify-content: space-between);
      display: table-row;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(6, 1fr);

      width: 100%;
    }

    &--all {
      @include hundredPercentHW();
      // @include flexCenterCenter($flex-direction: column, $align-items: flex-start, $justify-content: space-between);
      line-height: 3.5rem;
      grid-row: 1 / span 1;
      grid-column: 2 / span 4;

      @media ( max-width: 600px ) {
        height: auto;
      }
    }
  }

  &__item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;

    &--time {
      grid-column: 2 / span 1;
      text-align: center;

      @media (max-width: 600px) {
        width: 9rem;
      }
    }

    &--date {
      grid-column: 1 / span 1;
      text-align: center;

      @media (max-width: 600px) {
        width: 6rem;
      }
    }

    &--subject {
      grid-column: 3 / span 1;
      text-align: center;
      height: 3rem;

      @media (max-width: 600px) {
        width: 8rem;
      }
    }

    &--student {
      grid-column: 4 / span 1;
      text-align: center;

      @media (max-width: 600px) {
        width: 5rem;
      }
    }

    &--cancel {
      grid-column: 6 / span 1;
      text-align: center;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;

      @media (max-width: 600px) {
        width: 8rem;
      }
    }

    &--btns {
      grid-column: 5 / span 1;
      text-align: center;
      // @include flexCenterCenter($justify-content: space-between);
      
      
      @media (max-width: 900px) {
        // display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
      }

      @media (max-width: 600px) {
        width: auto;
        // width: 6rem;
      }
    }
  }

  &__td {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

    &--name {
      grid-column: 1 / span 1;
      text-align: left;
      padding: 0 2rem;
      // padding-left: 1.5rem;
      text-align: start;
      font-size: var(--font-size-3);

      width: 20rem;

      @media (max-width: 950px) {
        font-size: var(--font-size-4);
      }

      @media (max-width: 650px) {
        width: min-content;
      }

      @media (max-width: 450px) {
        // padding-left: 1rem;
      }
    }

    &--email {
      grid-column: 2 / span 1;
      text-align: center;
      padding: 0 2rem;
      width: auto;
      font-size: var(--font-size-3);
      color: blue;

      @media (max-width: 950px) {
        font-size: var(--font-size-4);
      }

      @media (max-width: 750px) {
        width: auto;
      }

      @media (max-width: 450px) {
        // padding-left: 0rem;
      }
    }

    &--admin {
      grid-column: 3 / span 1;
      text-align: center;
    }

    &--edit {
      grid-column: 4 / span 1;
      text-align: center;
      width: 5rem;
    }

    &--delete {
      grid-column: 5 / span 2;
      // @include flexCenterCenter($flex-direction: column);
      text-align: center;
      height: 100%;
      transform: translateY(0.4rem);
    }
  }

  &__th {
     &--name {
      grid-column: 1 / span 1;
      font-weight: 500;
      // width: 20rem;
    }

    &--email {
      grid-column: 2 / span 1;
      font-weight: 500;

      @media (max-width: 600px) {
        // width: 29vw;
      }
    }


    &--admin {
      grid-column: 3 / span 1;

      @media (max-width: 600px) {
        width: 25vw;
      }
    }


    &--edit {
      grid-column: 5 / span 1;
      font-weight: 500;
      text-align: center;
      // @include flexCenterCenter($justify-content: space-between);

      @media (max-width: 600px) {
        padding: 0;
      }
    }

    &--delete {
      grid-column: 6 / span 1;
      font-weight: 500;
      text-align: center;
      width: 5rem;
      padding: 1rem;
      // @include flexCenterCenter($justify-content: space-between);

      @media (max-width: 600px) {
        padding: 0;
      }
    }
  }

  // &__th--upcoming {
  //   &-date {
  //     grid-column: 1 / span 1;  
  //   }

  //   &-time {
  //     grid-column: 2 / span 1;
  //   }

  //   &-student {
  //     grid-column: 4 / span 1;
  //   }

  //   &-subject {
  //     grid-column: 3 / span 1;
  //   }

  //   &-btns {
  //     grid-column: 5 / span 1;
  //   }
  // }
}
