.appointments {

  &__list {
    @include hundredPercentHW();
    line-height: 3.5rem;
    display: table;
    overflow: scroll;
    height: min-content;

    &--item {
      display: table-row;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(6, 1fr);
      width: 100%;
    }

    &--all, &--admin {
      width: 100%;
      height: min-content;
      line-height: 3.5rem;
      grid-row: 1 / span 1;
      grid-column: 2 / -1;

      position: absolute;
      

      @media ( max-width: 950px ) {
        grid-column: 1 / -1;
      }

      @media ( max-width: 600px ) {
        height: auto;
      }
    }

    &--all {
      top: 0;
    }

    &--admin {
      top: 7rem;
    }
  }

  &__item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;

    &--time {
      grid-column: 2 / span 1;
      text-align: center;
      font-size: var(--font-size-3);

      @media (max-width: 600px) {
        width: auto;
      }
    }

    &--date {
      grid-column: 1 / span 1;
      text-align: center;
      font-size: var(--font-size-3);

      @media (max-width: 600px) {
        width: 6rem;
      }
    }

    &--subject {
      grid-column: 3 / span 1;
      text-align: center;
      height: 3rem;
      font-size: var(--font-size-3);

      @media (max-width: 600px) {
        width: 8rem;
      }
    }

    &--student {
      grid-column: 4 / span 1;
      text-align: center;
      font-size: var(--font-size-3);

      @media (max-width: 600px) {
        width: 5rem;
      }
    }

    &--cancel {
      grid-column: 6 / span 1;
      text-align: center;
      font-size: var(--font-size-3);
      fill: var(--red-1);

      @media (max-width: 600px) {
        width: 8rem;
      }

      @media (max-width: 600px) {
        width: 4rem;
      }
    }

    &--btns {
      grid-column: 5 / span 1;
      text-align: center;
      padding: 0.8rem;
      height: 100%;
      
      @media (max-width: 900px) {
        height: 5rem;
      }

      @media (max-width: 600px) {
        width: 4rem;
      }
    }
  }

  &__td--upcoming {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;

    &-time {
      grid-column: 2 / span 1;
      text-align: center;
      font-size: var(--font-size-3);
    }

    &-date {
      grid-column: 1 / span 1;
      text-align: center;
      font-size: var(--font-size-3);
    }

    &-subject {
      grid-column: 3 / span 1;
      text-align: center;
      font-size: var(--font-size-3);
    }

    &-student {
      grid-column: 4 / span 1;
      text-align: center;
      font-size: var(--font-size-3);
    }

    &-btns {
      grid-column: 7 / span 2;
      text-align: center;
      font-size: var(--font-size-3);
      @include flexCenterCenter($flex-direction: column);
      height: 100%;
      padding: 1rem 0;
    }
  }

  &__th {
     &--date {
      grid-column: 1 / span 1;
      font-weight: 500;
    }

    &--time {
      grid-column: 2 / span 1;
      font-weight: 500;

      @media (max-width: 600px) {
        // width: 29vw;
      }
    }

    &--student {
      grid-column: 4 / span 1;
      font-weight: 500;

      @media (max-width: 600px) {
        width: 14vw;
      }
    }

    &--subject {
      grid-column: 3 / span 1;
      font-weight: 500;

      @media (max-width: 600px) {
        width: 25vw;
      }
    }


    &--btns {
      grid-column: 5 / span 1;
      text-align: center;
      padding: 0 6.5rem;

      @media (max-width: 600px) {
        padding: 0;
      }
    }x

    &--cancel {
      grid-column: 6 / span 1;
      text-align: center;
      padding: 0 6.5rem;
      width: 3rem;

      @media (max-width: 600px) {
        width: 3rem;
      }
    }
  }

  &__th--upcoming {
    &-date {
      grid-column: 1 / span 1;  
      font-weight: 500;
    }

    &-time {
      grid-column: 2 / span 1;
      font-weight: 500;
    }

    &-student {
      grid-column: 4 / span 1;
      font-weight: 500;
    }

    &-subject {
      grid-column: 3 / span 1;
      font-weight: 500;
    }

    &-btns {
      grid-column: 5 / span 1;
      font-weight: 500;
    }
  }
}

.msg {

  &__userInfoNull {
    @include flexCenterCenter();
    grid-row: 1 / span 1;
    grid-column: 2 / -1;
    text-align: center;
    font-size: var(--font-size-3);

    @media (max-width: 950px) {
      grid-column: 1 / -1;
    }
  }

  &__no-prev-appts {
    @include hundredPercentHW();
    @include flexCenterCenter();
    grid-row: 1 / span 1;
    grid-column: 2 / -1;
    text-align: center;
    font-size: var(--font-size-3);
    font-weight: inherit;

    @media (max-width: 950px) {
      grid-column: 1 / -1;
    }
  }
}