.pg__contact {
  height: 85vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    height: min-content;
  }
}

.sidebar {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}