// GRID LAYOUT FOR HOME SCREEN
.pg__home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 86vh 105vh 103vh 20vh;
  height: min-content;
  width: 100%;
  overflow-y: scroll;
  border-right: 0.5px dashed $old-blue-2;
  border-left: 0.5px dashed $old-blue-2;
  // scroll-snap-type: y mandatory;

  @media (max-width: 1050px) {
    grid-template-rows: 86vh 165vh 163vh 20vh;
    margin-right: 0;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    margin-right: 0;

    grid-template-rows: 86vh 80vh 0vh 20vh;
  }
  
  &--review-container {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    height: 100%;
    overflow: hidden;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &--container {
    height: 100%;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    overflow: scroll;

    @media (max-width: 600px) {
      padding: 0rem;
    }
  }

  &--calendar {
    height: 100%;
    width: 100%;

    &__header {
      
    }
  }
}




// HIGHLIGHTS ARE THE THREE KINDS OF SECTION ON THE HOME PAGE - APPTS, MEET TOSHI, REVIEWS
.highlights {

  &__header {
    align-self: flex-start;
  }


  &__meetToshi {
    @include flexCenterCenter($flex-direction: column);
    @include hundredPercentHW();

    grid-row: 3 / span 1;
    grid-column: 1 / -1;

    background: $old-blue;
    // filter: hue-rotate(180deg);
    // scroll-snap-align: end;
    // scroll-snap-stop: always;

    &--ball:nth-child(1) {
      transform: translate(-15%, -50%);
    }

    &--ball:nth-child(2) {
      transform: translate(0, 50%);
    }

    &--ball:nth-child(3) {
      transform: translate(15%, -50%);
    }

    &--svg {
      position: absolute;
      z-index: 9;
      stroke: $white;
    }

    &--container {
      @include flexCenterCenter($flex-direction: column);

      height: 100%;
      width: 100%;
    }

    &--ball {
      content: '';
      height: 35rem;
      width: 35rem;
      background-color: $grey-light-7;
      border-radius: 50%;
      z-index: 99999;
    }
  }

  

  &__appointments {
    @include flexCenterCenter($justify-content: space-around);
    @include hundredPercentHW();
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    // scroll-snap-align: center;
    // scroll-snap-stop: always;
    position: relative;
    background: $old-blue-1;

    @media(max-width: 1050px) {
      @include flexCenterCenter($flex-direction: column);
    }

    @media(max-width: 600px) {
      // display: none;
      // height: 0;
    }

    &--btns-container {
      position: absolute;
      margin-top: 33rem;

      @media(max-width: 1050px) {
        margin-top: 0;
        transform: translateY(69rem);
      }

      @media(max-width: 600px) {
        display: none;
      }
    }

    &--appointments__list {
      width: 100%;
    }

    &--text {
      @include flexCenterCenter($flex-direction: column);
      padding-left: 5rem;

      @media(max-width: 1050px) {
        padding-left: 0;
        flex-direction: column-reverse;
        padding-bottom: 7rem;
      }

      @media(max-width: 600px) {
        width: 100%;
      }
    }

    &--header {

      @media(max-width: 1050px) {
        padding-bottom: 10.5rem;
      }

      @media(max-width: 600px) {
        display: none;
      }
    }

    &--appointments__list-container {
      @include hundredPercentHW();
      width: 100%;
      // height: 100vh;
      @include flexCenterCenter($flex-direction: column);
      overflow: scroll;
      padding: 5rem;

      @media (max-width: 1200px) {
        padding: 5rem 2rem;
      }

      @media (max-width: 1100px) {
        padding: 5rem 0.5rem;
      }

      @media(max-width: 1050px) {
        padding: 2rem;
      }

      @media(max-width: 650px) {
        padding: 2rem 0 10rem 0;
      }

      @media(max-width: 600px) {
        display: none;
      }
    }
  }

  &__contact {
    grid-row: 4 / span 1;
    grid-column: 1 / -1;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
  }
}

.card__meetToshi {
  @include flexCenterCenter($flex-direction: column);

  height: 35rem;
  width: 70rem;
  padding: 2rem;
  z-index: 100;
  background-color: $white;

  &--header {
    margin-bottom: 1rem;
  }

  &--p {
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
}


.hero__right-container{
  @include flexCenterCenter($flex-direction: column);

  @media (max-width: 1050px) {
    transform: translateY(-4rem);
  }

  @media (max-width: 700px) {
    width: 10rem;
  }
}

.meetToshi__ball--container {
  @include flexCenterCenter();
  width: 100%;
}


.hero__thought-clouds {
  @extend %btn;
  height: 5rem;
  width: 5rem;

  &--container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $red;
    height: 5rem;
    width: 5rem;
  }
}


.ghost__eye--1 {
  // content: "";
  position: absolute;
  transform: translate(90.42%, 2.08%);
  // transform: translate(38.68);
  transform-origin: 60.15% 2.72%;
  background-color: $red;
  // background-color: transparent;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  // margin: 2rem;
  // animation: blink 3s linear 2s infinite alternate;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
  transform: scale(1.0);
  background-color: black;
  }

  50% {
  transform: scale(0.0);
  background-color: black;
  }

  100% {
  transform: scale(1);
  background-color: black;
  }

  // from {
  //   transform: scale(0);
  // }
  // to {
  //   transform: scale(1);
  // }

}

.ghost__eye--2 {
  content: "";
  position: absolute;
  transform: translate(1.7rem, 0.3rem);
  background-color: $white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin: 2rem;
  animation: blink 1s linear infinite;
}