.loginScreen {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
  padding: 10rem 2rem;
  height: 100%;
  overflow: scroll;

  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__element {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  &__label {
    color: $grey-light-5;
  }

  &__input {
    border: none;
    border-bottom: 1px solid black;
    height: 4rem;
    color: $old-blue-2;

    &:focus {
      outline: none;
      border-bottom: 1px solid $old-blue-2;

    }
    
    &--contact {
      border: none;
      border-bottom: 1px solid black;
      height: 3rem;
    }

    &--contact-message {
      height: 30rem;
    }
  }

  &__success-message--contact {
    color: $green;
    margin-top: 1rem;
  }

  &__fail-message--contact {
    color: $red;
    margin-top: 1rem;
  }

  &__textarea {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px dashed $old-blue-2;
    height: 20rem;
    color: $old-blue-2;
    resize: vertical;

    &:focus {
      outline: none;
      border: 1px solid $old-blue-2;
    }
  }

}

label[for="email__messageForm"]::after,
label[for="message__messageForm"]::after {
  content: "*";
  color: $red;
  padding-left: 0.2rem; 
}