.pg__meetToshi {
  height: min-content;
  // height: 85vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  overflow: scroll;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 950px) and (max-height: 450px) {
    grid-template-columns: none;
    min-height: 148vh;
  }

  &--card {
    &__meetToshi-home {
      grid-row: 1 / span 1;
      grid-column: 2 / span 4;
      padding: 2rem;
      height: 100%;
      overflow: hidden;
    }

    &__meetToshi {
      grid-row: 1 / span 1;
      grid-column: 2 / span 4;
      padding: 4rem 2rem;
      height: 85vh;
      overflow: scroll;
      cursor: ns-resize;

      @media (max-width: 500px) {
        padding: 4rem 1rem;
      }

      &--header {
        text-align: center;
        margin-bottom: 1rem;
      }

      &--p {
        line-height: 3rem;
        margin: 4rem 0;
        position: relative;
        padding-left: 1rem;

        &::after {
          content: '';
          position: absolute;
          background-color: $old-blue-2;
          bottom: 0%;
          left: 0;
          height: 100%;
          width: 3px;
        }
      }
    }
  }
}