.toshi {
    
  &__meetToshi-home {
    grid-row: 1 / span 1;
    grid-column: 2 / span 4;
    padding: 2rem;
    height: 100%;
    overflow: hidden;

    @media (max-width: 950px) {
      grid-column: 1 / -1;
    }
  }

  

  &__p {
    line-height: 3rem;
    margin: 4rem 0;
    position: relative;
    padding-left: 1rem;
    font-size: var(--font-size-3);

    &::after {
      content: '';
      position: absolute;
      background-color: $old-blue-2;
      bottom: 0%;
      left: 0;
      height: 100%;
      width: 3px;
    }
  }
}