:root {
  --black: #000;
  --white: #fff;

  --grey-dark-0: #080808;
  --grey-dark-1: #181818;
  --grey-dark-2: #282828;
  --grey-dark-3: #383838;
  --grey-dark-4: #484848;

  --grey-light-1: #585858;
  --grey-light-2: #686868;
  --grey-light-3: #787878;
  --grey-light-4: #888888;
  --grey-light-5: #989898;

  --grey-light-6: #D0D0D0;
  --grey-light-7:#E0E0E0;
  --grey-light-8:#F0F0F0;
  --grey-light-9:hsl(0, 0%, 96%);

  --blue-1: #005c99;
  --blue-2: #006bb3;
  --blue-3: #007acc;
  --blue-4: #008ae6;
  --blue-5: #0099ff;
  --blue-6: #1aa3ff;
  --blue-7: #33adff;
  --blue-8: #4db8ff;
  --blue-9: #66c2ff;
  --blue-10: #80ccff;
  --blue-11: #99d6ff;
  --blue-12: #b3e0ff;
  /* modified blue-13 - not css colorpicker */
  --blue-13: #edf6fc; 
  --blue-14: #e6f5ff;

    --green-12: rgb(95, 255, 95);
    --green-dark: rgb(73, 165, 73);
    --green-13: rgb(248, 255, 238);


  --red: rgb(230, 36, 36);
  --yellow: #f4f73e;
  --yellow-light: #f4f5c5;
  --gold: #fad104;
  --green: rgb(39, 170, 39);
  --aqua: #2febd2;

  --facebook: #3b5998;
  --instagram: #FD1D1D;
  --twitter: #1dcaff;
}
/* --------------------------------------------------------------------- */
/* global resets */
*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines 1 rem. */
  font-size: 62.5%; /* 1rem = 16px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  background: var(--white);
  color: var(--black);
}

a {
  text-decoration: none;
 }

li {
  list-style-type: none;
}

/* --------------------------------------------------------------------- */
/* typography */

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.grey-light-4 {
  color: var(--grey-light-4);
}

.grey-light-5 {
  color: var(--grey-light-5);
}

.grey-light-6 {
  color: var(--grey-light-6);
}

.grey-light-7 {
  color: var(--grey-light-7);
}

.grey-light-8 {
  color: var(--grey-light-8);
}

.light-yellow {
  color: var(--yellow-light);
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.margin-bottom-lg {
  margin-bottom: 2.5rem;
}

.line-height-wide {
  line-height: 4.5rem;
}

.line-height-sm {
  line-height: 3.5rem;
}

.line-height-v-sm {
  line-height: 3rem;
}

.text-align-center {
  text-align: center;
  align-items: center;
}

.letter-spacing-sm{
  letter-spacing: 0.15rem;
}

.letter-spacing-md {
  letter-spacing: .25rem;
}

.letter-spacing-lg {
  letter-spacing: 0.35rem;
}

.center {
  margin: 0 auto;
}

.bold-1 {
  font-weight: 400;
}

.bold-2 {

}

.bold-3 {

}

/* .wide {
  width: 10rem;
} */

.width-0 {
  width: 0;
}

.height-0 {
  height: 0;
}

.text-size-1 {
  font-size: 4rem;
  font-weight: 400;
}

.text-size-2 {
  font-size: 3.0rem;
  font-weight: 300;
  box-sizing: inherit;

}

.text-size-3 {
  font-size: 2.5rem;
  font-weight: 300;
}

.text-size-4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.text-size-5 {
  font-size: 1.5rem;
  font-weight: 200;
}

.text-size-6 {
  font-size: 1.25rem;
  font-weight: 200;
}

/* --------------------------------------------------------------------- */
/* route-transitions */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 0;
}

/* --------------------------------------------------------------------- */
/* flexbox */

.row {
  flex-direction: row;
}

.align-items-flex-start {
  align-items: flex-start;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-start {
  align-items: flex-start;
}

/* --------------------------------------------------------------------- */
/* containers */

.container__main {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 8.5rem 5rem 90vh 12.5rem;
  grid-template-columns: 10rem repeat(3, 1fr) 10rem;
}

.container__body {
  background-color: var(--white);
  padding: 4rem 2rem;
}

/* --------------------------------------------------------------------- */
/* container main layout */

.container__body {
  grid-row: 3 / span 1;
  grid-column: 3 / span 2;
  background: var(--white); 
}

.nav__upper {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  height: 100%;
}

.nav__lower {
  grid-row: 2 / span 1;
  grid-column: 1 / -1;
  height: 100%;
}

.sidebar {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.footer {
  grid-row: 4 / span 1;
  grid-column: 2 / -2;
  background: var(--white);
}

/* --------------------------------------------------------------------- */
/* buttons */
.btn {
  padding: 1rem;
  border-radius: 5rem;
}

.btn__search {
  width: 10rem;
  border: 1px solid var(--green);
  color: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* --------------------------------------------------------------------- */
/* nav */

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__upper {
  background-color: var(--grey-light-9);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-6);
  padding: 1rem 2rem;
  color: var(--black);
}

.nav__lower {
  background-color: var(--grey-light-9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-6);
  padding: 1rem 3rem 1rem 12rem;
}

.nav__link {
  padding: 0 1rem;
  display: inline-block;
  color: var(--black);
}

.nav__header {
  color: var(--black);
}

.nav__user-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

/* --------------------------------------------------------------------- */
/* sidebar */

.sidebar {
  background: var(--green-13);
  padding: 2rem;
}

/* --------------------------------------------------------------------- */
/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-items: center;
}

/* --------------------------------------------------------------------- */
/* home page */

.pg__home {
  height: 200vh;
  background-color: var(--blue-1);
  display: grid;
  grid-template-rows: 10rem repeat(7, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.container__hero {
  grid-row: 2 / span 1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--green);
}

.highlights__appointments {
  grid-row: 4 / span 1;
  grid-column: 1 / -1;
  background-color: var(--red);
}

.highlights__meetToshi {
  grid-row: 4 / span 1;
  grid-column: 1 / -1;
  background-color: var(--yellow);
}

.highlights__contact {
    grid-row: 6 / span 1;
  grid-column: 1 / -1;
  background-color: orange;
}

.container__hero--text {

}

.hero__img {

}