.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.grey-light-4 {
  color: var(--grey-light-4);
}

.grey-light-5 {
  color: var(--grey-light-5);
}

.grey-light-6 {
  color: var(--grey-light-6);
}

.grey-light-7 {
  color: var(--grey-light-7);
}

.grey-light-8 {
  color: var(--grey-light-8);
}

.light-yellow {
  color: var(--yellow-light);
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.margin-bottom-lg {
  margin-bottom: 2.5rem;
}

.line-height-wide {
  line-height: 4.5rem;
}

.line-height-sm {
  line-height: 3.5rem;
}

.line-height-v-sm {
  line-height: 3rem;
}

.text-align-center {
  text-align: center;
  align-items: center;
}

.letter-spacing-sm{
  letter-spacing: 0.15rem;
}

.letter-spacing-md {
  letter-spacing: .25rem;
}

.letter-spacing-lg {
  letter-spacing: 0.35rem;
}

.center {
  margin: 0 auto;
}

.bold-1 {
  font-weight: 400;
}

.bold-2 {

}

.bold-3 {

}

/* .wide {
  width: 10rem;
} */

.width-0 {
  width: 0;
}

.height-0 {
  height: 0;
}

.text-size-0 {
  font-size: 6rem;
  font-weight: 400;
}

.text-size-1 {
  font-size: 4rem;
  font-weight: 400;
}

.text-size-2 {
  font-size: 3.0rem;
  font-weight: 300;
  box-sizing: inherit;

}

.text-size-3 {
  font-size: 2.5rem;
  font-weight: 300;
}

.text-size-4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.text-size-5 {
  font-size: 1.5rem;
  font-weight: 200;
}

.text-size-6 {
  font-size: 1.25rem;
  font-weight: 200;
}
