.nav {

  &__expanded {
    @include flexCenterCenter();
    @include fadeInAnimated__0();
    height: 100%;

    @media ( max-width: 510px ) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }

    @media ( max-width: 350px ) {
      padding-left: 0rem;
    }

    &--item {
      @include flexCenterCenter();
      height: 100%;
      width: 7.3rem;

      @media ( max-width: 350px ) {
        width: 6.8rem;
      }

      @media ( max-width: 320px ) {
        width: 6.2rem;
      }

      @media ( max-width: 320px ) {
        width: 6.2rem;
      }
    }
  }

  &__upper {

    &--text {
      font-size: var(--font-size-1);
      font-weight: inherit;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 2.5rem;
      @include fadeInAnimated__0();

      @media ( max-width: 400px ) {
        display: none;
      }
    }

    &--right-container {
      @include flexCenterCenter($justify-content: space-between);
      height: 100%;

      @media ( max-width: 510px ) {
        grid-column: 2 / span 4;
      }
    }

    &--title-text {
      @include flexCenterCenter();
      font-size: var(--font-size-1);
      display: inline-block;
      height: 100%;

      @media ( max-width: 510px ) {
        width: 100%;
        grid-column: 1 / span 1;
      }
    }

    &--title-line {
      display: inline-block;
      display: none;
    }

    &--house-icon {
      display: none;

      @media ( max-width: 400px ) {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        height: 100%;
      }
    }
  }

  &__link {
    @include flexCenterCenter();
    @include hundredPercentHW();
    font-size: var(--font-size-5);
    font-weight: inherit;
    height: 100%;
    color: $black;
    box-sizing: border-box;
    line-height: 100%;
    transition: .1s;
    width: 100%;

    &:hover {
      background-color: $old-blue-2-opacity;
    }

    &--dropdown {
      font-size: var(--font-size-5);
      font-weight: inherit;
      height: 100%;
      display: flex;
      align-items: center;
      color: $black;
      line-height: 100%;
  
      &:hover {
        background-color: $old-blue-2-opacity;
      }
    }
  }

  // to display drop down menu:
  &__user-icons {
    @include flexCenterCenter();
    height: 100%;
    position: relative;
    padding: 0 2rem;

    &:hover {
      background: $old-blue-2-opacity;
    }

    @media ( max-width: 350px ) {
      padding: 0rem 1.5rem;
    }

    &:hover > ul {
      display: block;
      position: absolute;
      
    }
  }

  &__user-name {
    font-size:var(--font-size-3);
    font-weight: inherit;
    padding-right: 0.25rem;
    @media (max-width: 440px) {
      display: none;
    }
  }

  &__upper-header {
    &:hover {
      color: $old-blue-2;
    }
  }

  &__search {
    &--icon {
      transition: .05s;
    }

    &--form {
      display: flex;
      align-items: center;
    }

    &--btn {
      outline: none;
      border: none;
      transform: translate(-3rem, 0.25rem);
      background: transparent;

      @media (max-width: 950px) and (max-height: 450px) {
        transform: translate(-3rem, 0.15rem);
      }
    }
  }

  &__subheader {
    font-size: var(--font-size-3);
    font-weight: 200;
  }
}

//--------------------dropdown--------------------//


.dropdown-nav {
  @include flexCenterCenter($flex-direction: column);
  width: 100%;
  display: none;
  position: absolute;
  background-color: $white;
  border: 2px solid $grey-4;
  width: 15rem;
  max-height: 27rem;
  z-index: 100;

  &__logged-in, &__logged-in--not-admin, &__not-logged-in {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $white;
    border: 2px solid $grey-4;
    width: 15rem;
    max-height: 27rem;
    z-index: 100;
  }

  &__logged-in, &__logged-in--not-admin {
    max-height: 27rem;
  }

  &__not-logged-in {
    max-height: 15rem;
  }

  &__link {
    @include hundredPercentHW();
    @include flexCenterCenter();
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 2px solid $grey-4;
    }
  }
}

//--------------------search-bar--------------------//

.search {

  &__results {
    @include flexCenterCenter($flex-direction: column);
    position: absolute;
    top: 100%;
    right: 0;

    display: none;
    background: $white;
    z-index: 100;
    width: 23rem;
    max-height: 70rem;
    overflow: hidden;
    border-bottom: 2px solid var(--black);
  }

  &__item {
    @include flexCenterCenter();

    border-bottom: 1px solid $grey-6;
    height: 4rem;
    line-height: 3rem;
    width: 100%;
    font-size: var(--font-size-5);

    &:hover {
      background-color: $old-blue-2-opacity;
    }
  }

  &__wrapper {
    width: 23rem;
    text-align: right;
    display: flex;
    align-items: center;
    transition: 1s;
    @include fadeInAnimated__0();
  }
}