:root {
  --green: rgb(39, 170, 39);
  --green-12: rgb(95, 255, 95);
  --green-dark: rgb(73, 165, 73);
  --green-dark-2: rgb(73, 131, 77);

  --red: rgb(230, 36, 36);
  --grey-light-5: #989898;
  --grey-light-6: #D0D0D0;
  --black: #000;
  --old-blue: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
  --old-blue-1: #fefefe;
  --old-blue-2: #00a4e4;
  --old-blue-2-opacity: #00a3e418;
  --old-blue-2-opacity-2: #00a3e444;

  --text-size-5: $text-size-5;
}

/* --------------------------------------------------------------------- */
/* global resets */
*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines 1 rem. */
  font-size: 62.5%; /* 1rem = 16px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  background: $white;
  color: $black;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
 }

li {
  list-style-type: none;
}
