//--------------------fonts--------------------//

.font-size-0 {
  font-size: var(--font-size-0);
  font-weight: 300;
}

.font-size-1 {
  font-size: var(--font-size-1);
  font-weight: 300;
}

.font-size-2 {
  font-size: var(--font-size-2);
  font-weight: 300;
  box-sizing: inherit;
}

.font-size-3 {
  font-size: var(--font-size-3);
  font-weight: 300;
}

.font-size-4 {
  font-size: var(--font-size-4);
  font-weight: 400;
}

.font-size-5 {
  font-size: var(--font-size-5);
  font-weight: 300;
}

.font-size-6 {
  font-size: var(--font-size-6);
  font-weight: 300;
}

//--------------------headers--------------------//

.header {
  &__home {
    &--appointments {
      font-size: var(--font-size-2);
      font-weight: inherit;

      @media(max-width: 1050px) {
        // padding-bottom: 10.5rem;
      }

      @media(max-width: 600px) {
        display: none;
      }
    }
  }

  &__no-appts {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 900px) {
      height: 58vh;
    }
  }

  &__register {
    font-size: var(--font-size-2);
    font-weight: inherit;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__four-oh-four {
    font-size: var(--font-size-1);
    font-weight: inherit;
    grid-column: 2 / -1;
    position: absolute;
    top: 5rem;
  }

  &__toshi {
    text-align: center;
    margin-bottom: 1rem;
    font-size: var(--font-size-2);
    font-weight: inherit;
    letter-spacing: var(--letter-spacing-3);
  }
}

//--------------------home--------------------//

.text {

  &__home {
    
    &--welcome {
      font-size: var(--font-size-0);
      font-weight: inherit;
      transform: translate(-0.2rem, -.4rem);
      letter-spacing: 0.4rem;

      @media (max-width: 1050px) {
        letter-spacing: 0;
      }
    }
    &--tutoring-simplified {
      font-size: var(--font-size-1);
      font-weight: inherit;
      transform: translate(0rem, 1.25rem);
    }
    &--subjects {
      font-size: var(--font-size-3);
      font-weight: inherit;
      transform: translate(0.15rem,-0.75rem);
      width: 38rem;

      @media (max-width: 950px) {
        text-align: center;
      }

      @media (max-width: 750px) {
        width: 36rem;
      }

      @media (max-width: 320px) {
        width: 25rem;
        line-height: 2.1rem;
        transform: translate(0.15rem, 0rem);
      }
    }

    &--request-tutoring {

    }

    &--payments {

    }
  }

  //--------------------payment--------------------//
  &__payment {

    &--paying-for {
      padding: 1rem;
      font-size: var(--font-size-3);
      margin-bottom: 2rem;
    }
  }
}