.text-size-0 {
  font-size: 6rem;
  font-weight: 400;

  @media (max-width: 750px) {
    font-size: 5rem;
  }
  
  @media (max-width: 450px) {
    font-size: 4rem;
  }
}

.text-size-1 {
  font-size: 3rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 2.5rem;
  }
  
  @media (max-width: 450px) {
    font-size: 2.0rem;
  }
}

.text-size-2 {
  font-size: 2.6rem;
  font-weight: 300;
  box-sizing: inherit;

  @media (max-width: 750px) {
    font-size: 2.4rem;
  }
  
  @media (max-width: 450px) {
    font-size: 1.9rem;
  }
}

.text-size-3 {
  font-size: 2rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.8rem;
  }
  
  @media (max-width: 450px) {
    font-size: 1.3rem;
  }
}

.text-size-4 {
  font-size: 1.75rem;
  font-weight: 400;

  @media (max-width: 750px) {
    font-size: 1.5rem;
  }
  
  @media (max-width: 450px) {
    font-size: 1.0;
  }
}

.text-size-5 {
  font-size: 1.625rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.3rem;
  }
  
  @media (max-width: 450px) {
    font-size: 0.8;
  }
}

.text-size-6 {
  font-size: 1.25rem;
  font-weight: 300;

  @media (max-width: 750px) {
    font-size: 1.1rem;
  }
  
  @media (max-width: 450px) {
    font-size: 0.6;
  }
}