@mixin hundredPercentHW() {
	height: 100%;
	width: 100%;
}

@mixin flexCenterCenter($align-items: center, $justify-content: center, $flex-direction: row) {
	display: flex;
	flex-direction: $flex-direction;
	align-items: $align-items;
	justify-content: $justify-content;
}

@mixin mediaQueriesContainerWithSidebar() {
	@media (max-height: 1400px) {
        height: 137rem;
    }

    @media (max-height: 1300px) {
        height: 127rem;
    }

    @media (max-height: 1200px) {
        height: 117rem;
    }

    @media (max-height: 1100px) {
        height: 107rem;
    }

    @media (max-height: 1000px) {
        height: 97rem;
    }

    @media (max-height: 900px) {
        height: 87rem;
    }

    @media (max-height: 800px) {
        height: 77rem;
        // height: 65.5rem;
    }

    @media (max-height: 700px) {
        height: 67rem;
    }

    @media (max-height: 600px) {
        height: 57rem;
    }

    @media (max-height: 500px) {
        height: 47rem;
    }

    @media (max-height: 400px) {
        height: 37rem;
    }
}

/* PLEASE NOTE */
/* PLEASE NOTE */
/* PLEASE NOTE */
/* There are more mixins in the animations.scss */