@mixin hundredPercentHW() {
	height: 100%;
	width: 100%;
}

@mixin flexCenterCenter($align-items: center, $justify-content: center, $flex-direction: row) {
	display: flex;
	flex-direction: $flex-direction;
	align-items: $align-items;
	justify-content: $justify-content;
}

@mixin mediaQueriesContainerWithSidebar() {
	@media (max-height: 1400px) {
        height: 125.5rem;
    }

    @media (max-height: 1300px) {
        height: 115.5rem;
    }

    @media (max-height: 1200px) {
        height: 105.5rem;
    }

    @media (max-height: 1100px) {
        height: 95.5rem;
    }

    @media (max-height: 1000px) {
        height: 85.5rem;
    }

    @media (max-height: 900px) {
        height: 75.5rem;
    }

    @media (max-height: 800px) {
        height: 65.5rem;
    }

    @media (max-height: 700px) {
        height: 55.5rem;
    }

    @media (max-height: 600px) {
        height: 45.5rem;
    }

    @media (max-height: 500px) {
        height: 35.5rem;
    }

    @media (max-height: 400px) {
        height: 25.5rem;
    }
    

    // @media (max-width: 950px) {
	// 	padding-left: 0;
	// 	// padding: 4.5rem 0 0 0;
    // }
}