.payment {

	// PAYMENT STEPS - SIGN IN, APPTS, METHOD, PAYMENT, SUBMIT PAYMENT
	&__steps {

		&--container {
			// height: 3rem;
			width: 100%;
			margin-bottom: 2rem;
		}

		&--ul {
			@include flexCenterCenter($justify-content: space-between);
			margin-bottom: 2rem;
			width: 100%;
			padding: 0 14vw;

			@media ( max-width: 1150px ) {
				padding: 0 6vw;
			}

			@media ( max-width: 900px ) {
				padding: 0 8rem;
			}

			@media ( max-width: 500px ) {
				padding: 0 8vw;
			}
		}

		&--li {
			cursor: pointer;
			font-size: var(--font-size-5);
		}
	}

	&__method {
		&--screen {
			@include hundredPercentHW();
			@include flexCenterCenter($flex-direction: column);

			grid-row: 1 / span 1;
			grid-column: 2 / span 4;
			padding: 2rem;
			height: 100%;
			overflow: scroll;

			@media (max-width: 950px ) {
				padding: 2rem;
				grid-column: 1 / -1;
			}
		}

		&--screen--form {
			@include hundredPercentHW();
			@include flexCenterCenter($align-items: flex-start);
		}

		&--screen--form-inputs {
			@include hundredPercentHW();
			@include flexCenterCenter($flex-direction: column);
    	}

		&--screen--form-element {
				// @include hundredPercentHW();
				@include flexCenterCenter();
				width: 100%;

				
		}

		&--screen--form-container {
				width: 100%;
				height: 50vh;
				@include flexCenterCenter($justify-content: flex-start, $flex-direction: column);
				padding: auto 0 10rem 0;
		}
	}

	&__subgroups {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 1rem;
		margin-bottom: 3rem;

		&--name {
			font-size: var(--font-size-4);
			margin-bottom: 0.6rem;
		}

		&--email {
			font-size: var(--font-size-4);
			margin-bottom: 0.6rem;
		}

		&--payment-method {
			font-size: var(--font-size-4);
			display: flex;
			align-items: flex-end;
			margin-bottom: 0.6rem;

			@media (max-width: 900px) {
				padding: 1rem;
				width: 100%;
				justify-content: flex-start;
			}

			&--text {
				display: inline-block;
				line-height: 2rem;
				font-size: var(--font-size-3);

				@media (max-width: 550px) {
					// line-height: 0rem;
				}
			}
		}

		&--status {
			font-size: var(--font-size-5);
			display: flex;
			align-items: flex-end;
			margin-bottom: 0.5rem;
		}

		&--not-paid {
			color: $red-1;
			background-color: $red-2;
			border: 1px solid $red-1;
			padding: 0.2rem;
			border-radius: 0.6rem;
			width: 9rem;
			text-align: center;
			margin-left: 0.5rem;
			font-size: var(--font-size-4);
		}

		&--paid-on {
			color: $green-1;
			background-color: $green-5;
			border: 1px solid $green-1;
			padding: 0.2rem;
			border-radius: 0.5rem;
			width: 9rem;
			text-align: center;
			margin-left: 0.5rem;
			font-size: var(--font-size-4);
		}
	}

	&__id {
		font-weight: 300;
		margin-left: 1rem;
	}
}