// Gradient btns

// %btn {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
// %btn {
//   // margin: 10px;
//   padding: 15px 45px;
//   text-align: center;
//   text-transform: uppercase;
//   transition: 0.5s;
//   background-size: 200% auto;
//   color: white;            
//   box-shadow: 0 0 20px #eee;
//   border-radius: 10px;
//   display: block;
// }

// %btn:hover {
//   background-position: right center; /* change the direction of the change here */
//   color: #fff;
//   text-decoration: none;
// }


// EXTENDS
%btn {
  padding: 1rem;
  border-radius: 5rem;
  color: $black;
  cursor: pointer;
  
  // border: 2px solid $white;
  border: none;
  border: 1px solid $old-blue-2;
  // color: $old-blue;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;
  background-size: 200% auto;
  
}
%btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: $black;
  text-decoration: none;
  // border: 1px solid $green;
}

%btn--blue {
	background-color: $old-blue;
  color: $white;
}

%btn--white {
  background-color: $old-blue;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  color: $white;
}


// REGULAR CLASSES
.btn__search {
  @extend %btn;
  @include flexCenterCenter($justify-content: space-around);
  width: 10rem;
  color: $white;
  // transition: .2s;
  outline: none;

  &--hover {
    @extend %btn--blue;
  }
}

.btn__cancel {
  @extend %btn;
  background-color: $red;
  color: $white;
  border: 2px solid $grey-dark-3;
  width: 8rem;

  &:hover {
    background-color: $red-light-1;
    color: $black;
  }
}

.btn__pay {
  @extend %btn;
  color: $white;
  // padding: 1rem;
  // border-radius: 5rem;
  // border: 2px solid $white;
  // background-color: $old-blue-2;
  // color: $white;

  // &:hover {
  //   background-color: $green-12;
  //   color: $black;
  // }
}

.btn__edit {
  // @extend %btn;
  padding: 0.5rem;
  border-radius: 5rem;
  border: 2px solid $white;;
  background-color: $green-dark;
  color: $white;
  margin-bottom: 1rem;

  &:hover {
    background-color: $green-12;
    color: $black;
  }
}

.btn__continue {
  @extend %btn;
  // position: absolute;
  grid-column: 1 / span 1;
  transform: translateY(-1rem);
  align-self: start;
  justify-self: start;
  padding: 0.5rem;
  width: 12rem;
  text-align: center;
  border-radius: 5rem;
  border: 2px solid $white;;
  color: $white;

  &:hover {
    color: $black;
  }
}

.btn__continue--select-method {
  @extend %btn;
  // position: absolute;
  grid-column: 1 / span 1;
  transform: translateY(-4rem);
  align-self: start;
  justify-self: start;
  padding: 0.5rem;
  width: 12rem;
  text-align: center;
  border-radius: 5rem;
  // border: 2px solid $white;;
  color: $white;

  &:hover {
    color: $black;
  }
}

.btn__addToCart {
  @extend %btn;
  padding: 0.35rem;

  width: 8rem;
  // border-radius: 5rem;
  // border: 2px solid $white;;
  // background-color: $green-dark;
  color: $white;

  &:hover {
    background-color: $green-12;
    color: $black;
  }
}

.btn__pay--header {
  @extend %btn;
  color: $white;
  background-color: skyblue;
  width: 8rem;
  margin-right: 1rem;

}

.btn__cancel--header {
  @extend %btn;
  color: $white;
  background-color: $red;
  width: 8rem;
}

.btn__messageForm {
  @extend %btn;
  @extend %btn--blue;
  margin-bottom: 5rem;
  width: 8rem;
}

.btn__registerScreen {
  @extend %btn;
  @extend %btn--blue;
  margin-bottom: 5rem;
  width: 8rem;
}

.btn__apptEditScreen {
  @extend %btn;
  @extend %btn--blue;
  margin-bottom: 5rem;
  width: 12rem;
}


.btn__loginScreen {
  @extend %btn;
  @extend %btn--blue;
  margin-bottom: 5rem;
  color: $white;
  width: 8rem;
}

.btn__userEditScreen {
  @extend %btn;
  @extend %btn--blue;
  margin-bottom: 5rem;
  width: 12rem;

  &:hover {
    background-color: $green-12;
    border: 1px solid $green-12;
    color: $black;
  }
}

.btn__profileScreen {
  @extend %btn;
  @extend %btn--blue;
  margin-top: 7rem;
  border: none;
  width: 8rem;

  &:hover {
    background-color: $green-12;
    color: $black;
  }
}

.btn__createApptScreen {
  @extend %btn;
  @extend %btn--blue;
  margin-top: 1rem;
  width: 8rem;

  &:hover {
    background-color: $green-12;
    border: 1px solid $green-12;
    color: $black;
  }
}

.btn__adminApptsList {
  @extend %btn;
  @extend %btn--blue;
  grid-column: 1 / span 1;
  align-self: start;
  justify-self: start;
  padding: 0.5rem;
  // position: absolute;
  width: 13rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(-1.75rem);

  &:hover {
    background-color: $green-12;
    border: 1px solid $green-12;
    color: $black;
  }
}

.btn__request-tutoring {
  @extend %btn;
  margin-right: 1.25rem;
  // border: 2px solid $green-dark-2;
  // background-color: $white;
  color: $white;


}

.hero__thought-clouds {
  @extend %btn;
  height: 5rem;
  width: 5rem;

  &--container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $red;
    height: 5rem;
    width: 5rem;
  }
}

.btn__container {
  @include flexCenterCenter();
}


.btn__highlights--appointments {
  @extend %btn;
  transform: translateY(390%);
  margin: 0.25rem;
  width: 20rem;
  color: $white;
  border: 1px dotted $white;

  @media (max-width: 1050px){
    transform: none;
    width: 60rem;
    padding: 2rem;
    margin: 0.5rem;
  }

  @media (max-width: 700px){
    width: 40rem;
  }

  &-container {
    @include flexCenterCenter($justify-content: space-between, $flex-direction: column);
    width: 100%;

    @media (max-width: 1050px) {
      padding-bottom: 32rem;
    }
  }

  &:hover {
    background-color: $green-12;
    border: 1px solid $green-12;
    color: $black;
  }
}

.btn__trashIcon {
  border: none;
  
}

.btn__screen-nav--up {
  position: fixed;
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn__screen-nav--down {
  position: fixed;
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  border: none;
  background-color: transparent;
  transform: translateY(100%);
}

.container__btn--screen-nav {
  position: relative;
  padding: 20rem 0;
  height: 100%;
  z-index: 99999999;
  @include flexCenterCenter($flex-direction: column, $justify-content: space-between);

  @media (max-width: 800px){
    padding: 20rem 3rem;
  }
}

.btn__highlights--appts-calendar {
  padding: 1rem;
  width: 7rem;
  border-radius: 5rem 0 0 5rem;
  border: 1px solid $green;
  color: $green;
  cursor: pointer;

  @media (max-width: 1050px) {
    width: 14rem;
  }
}

.btn__highlights--appts-list {
  padding: 1rem;
  width: 7rem;
  border-radius:  0 5rem 5rem 0;
  border: 1px solid $white;
  color: $white;
  cursor: pointer;

  @media (max-width: 1050px) {
    width: 14rem;
  }
}

.btn__list {
  padding: 1rem;
  border-radius: 5rem;
  border: 1px solid $green;
  color: $green;
}

.btn__confirm-payment {
  @extend %btn;
  padding: 1rem;
  width: 12rem;
  margin: 1rem 0;
  color: $white;

  &:hover {
    color: $black;
  }
}

.btn__reviews--new-review {
  @extend %btn;
  background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
  box-shadow: 0 0 20px #eee;
  
  padding: 1rem;
  width: 12rem;
  margin: 1rem 0;
  color: $black;

  &:hover {
    color: $black;
     background-position: right center; /* change the direction of the change here */
            color: $old-blue-2;
            text-decoration: none;
  }
}

// .btn__createReview {
//   // @extend %btn;
//   // @extend %btn--blue;
//   align-self: start;
//   justify-self: start;
//   padding: 0.5rem;
//   width: 13rem;
//   text-align: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 1rem;
// }


         .btn__white, .btn__createReview {background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%)}
         .btn__white, .btn__createReview {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn__white:hover, .btn__createReview:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
.btn__calendar {
  cursor: pointer;
}

.btn__go-back {
  @extend %btn;
  @extend %btn--blue;

  position: absolute;
  transform: translateY(2rem);
}

.btn__payments--add-all {
  @extend %btn;
  padding: 0.35rem;

  width: 8rem;
  color: $white;

  &:hover {
    background-color: $green-12;
    color: $black;
  }
}

.btns__hero--header {
  // display: flex;
  transform: translateY(-11rem);

  @media (max-width: 900px) {
    display: flex;
    width: 30rem;
  }
}