.calendar {
    grid-column: 2 / span 2;
    // padding: 2rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5rem 3rem repeat(6, 1fr);
    border: 1px solid var(--black);
    background-color: var(--white);

    // grid-gap: var(--black);

    // &__row--days {
    //     display: flex;
    //     grid-row: 1 / span 2;
    //     grid-column: 1 / -1;
    // }

    background-color: var(--grey-light-7);
}

.item {
    background-color: var(--white);
    width: 100%;
    height: 100%;
}

.calendar__row--header {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;

    // display: grid;
    // grid-template-columns: repeat(7, 1fr);
    // justify-items: center;
    // align-items: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25rem;

    border: 1px solid var(--black);

    // position: relative;
}

// .btn__calendar {
//     position: absolute;
//     transform: translate(2rem);
// }

.calendar__row--days {
    grid-row: 2 / span 1;
    grid-column: 1 / -1;

    // display: grid;
    // grid-template-columns: repeat(7, 1fr);
    // justify-items: center;
    // align-items: center;

    

    display: flex;
    justify-content: flex-end;
    height: 100%;
    border-bottom: 1px solid var(--black);

    // border: 1px solid var(--green);
}

.calendar__row--day {
    border: 0.5px solid var(--black);
    padding: 0.5rem;
    background-color: var(--white);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__row--element 
{
    border: 0.5px solid var(--black);
    padding: 0.5rem;
    background-color: var(--white);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

.calendar__row--numDays {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: start;
    // padding: 0.5rem;
    height: 100%;


}

.item {
    align-self: center;
    justify-self: center;
}