.page-header {
    @include flexCenterCenter($flex-direction: column);
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    padding: 4rem 2rem;
    height: 100%;
    overflow: scroll;

    @media (max-width: 650px) {
        display: none;
    }

    &__text {

        &__emoji {

        }
    }
}