.nav {

  &__list {
    @include flexCenterCenter();
    height: 100%;

    @media ( max-width: 510px ) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }

    @media ( max-width: 350px ) {
      padding-left: 0rem;
    }

    &--item {
      @include flexCenterCenter();
      height: 100%;
      width: 7.3rem;

      @media ( max-width: 350px ) {
        width: 6.8rem;
      }

      @media ( max-width: 320px ) {
        width: 6.2rem;
      }

      @media ( max-width: 320px ) {
        width: 6.2rem;
      }
    }

  }

  &__upper {
    @include hundredPercentHW();
    @include flexCenterCenter($justify-content: space-between);
    background-color: $grey-light-9;
    border-bottom: 1px solid $grey-light-6;
    color: $black;

    @media ( max-width: 510px ) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
    }

    // @media ( max-width: 450px ) {
    //   justify-content: space-around;
    // }

    &--text {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 2rem;

      @media ( max-width: 650px ) {
        padding: 0 2rem;
      }


      @media ( max-width: 400px ) {
        display: none;
      }
    }

    &--right-container {
      @include flexCenterCenter($justify-content: space-between);
      height: 100%;

      @media ( max-width: 510px ) {
        grid-column: 2 / span 4;
      }
    }

    &--title-text {
      display: inline-block;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media ( max-width: 510px ) {
        grid-column: 1 / span 1;
      }

      @media (max-width: 350px) {
        width: 100%;
      }

    }

    &--title-line {
      display: inline-block;

      @media ( max-width: 650px ) {
        display: none;
      }
    }

    &--house-icon {
      display: inline-block;

      @media ( max-width: 650px ) {
        display: none;
      }

      @media ( max-width: 400px ) {
        display: inline-block;
        padding: 1.5rem;
      }

      @media ( max-width: 360px ) {
        // padding: 0rem;
      }
    }
  }

  &__lower {
    @include hundredPercentHW();
    @include flexCenterCenter($justify-content: space-between);
    background-color: $grey-light-9;
    border-bottom: 1px solid $grey-light-6;
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
    // overflow: hidden;
  }

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    box-sizing: border-box;
    line-height: 100%;
    transition: .1s;
    width: 100%;

    &:hover {
      background-color: $old-blue-2-opacity;
    }
  }

  &__link--dropdown {
    height: 100%;
    display: flex;
    align-items: center;
    color: $black;
    line-height: 100%;

    &:hover {
      background-color: $old-blue-2-opacity;
    }
  }

  &__header {
    color: $black;
  }

  // to display drop down menu:
  &__user-icons {
    @include flexCenterCenter();
    height: 100%;
    position: relative;
    padding: 0 2rem;

    &:hover {
      background: $old-blue-2-opacity;
    }

    @media ( max-width: 350px ) {
      padding: 0rem 1.5rem;
    }

    &:hover > ul {
      display: block;
      position: absolute;
      
    }
  }

  &__user-name {
    @media (max-width: 440px) {
      display: none;
    }
  }


  &__upper-header {
      &:hover {
        color: $old-blue-2;
      }
}



  &__search {
    &--icon {
      transition: .05s;
    }

    &--form {
      display: flex;
      align-items: center;
    }

    &--btn {
      outline: none;
      border: none;
      transform: translate(-3rem, 0.25rem);
      background: transparent;
    }
  }
}

.search {
  &__results {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background: $white;
    z-index: 100;
    width: 23rem;
    max-height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border-bottom: 1px solid $grey-light-6;
    overflow: hidden;
    border-bottom: 2px solid var(--black)
  }

  &__item {
    border-bottom: 1px solid $grey-light-6;
    height: 4rem;
    line-height: 3rem;
    width: 100%;
    
    @include flexCenterCenter();

    &:hover {
      background-color: $old-blue-2-opacity;
    }
  }

  &__item:not(:last-child) {
  }

  &__wrapper {
    width: 23rem;
    text-align: right;
    display: flex;
    align-items: center;
    transition: 1s;

    @media ( max-width: 600px) {
      // width: 20.5rem;

      &:hover, &:active, &:visited {
        // width: 30rem;
      }

    }


    @media ( max-width: 450px ) {
      // width: 20.5rem;
    }
  }
}

// input[placeholder="Search"] {
input[type="text"]::placeholder {
  color: $white;
}

input[type="text"] {
  // color: $black;
}