.payment {

	// PAYMENT STEPS - SIGN IN, APPTS, METHOD, PAYMENT, SUBMIT PAYMENT
	&__steps {

		&--container {
			// height: 3rem;
			width: 100%;
			margin-bottom: 2rem;
		}

		&--ul {
			@include flexCenterCenter($justify-content: space-between);
			margin-bottom: 2rem;

			@media ( max-width: 600px ) {
				margin-bottom: 0;
				width: 100%;
			}
		}

		&__li {
    		cursor: pointer;
		}
	}

	&__method {
		&--screen {
			@include hundredPercentHW();
			@include flexCenterCenter($flex-direction: column);

			grid-row: 1 / span 1;
			grid-column: 2 / span 2;
			padding: 2rem;
			height: 100%;
			overflow: scroll;

			@media (max-width: 600px ) {
				padding: 2rem 0;
			}
		}

		&--screen--form {
			@include hundredPercentHW();
			@include flexCenterCenter($align-items: flex-start);
		}

		&--screen--form-inputs {
			@include hundredPercentHW();
			@include flexCenterCenter($flex-direction: column);
    }

    &--screen--form-element {
			// @include hundredPercentHW();
			@include flexCenterCenter();
			width: 100%;

			
    }

    &--screen--form-container {
			width: 100%;
			height: 30vh;
			@include flexCenterCenter($justify-content: flex-start, $flex-direction: column);
			padding: auto 0 10rem 0;
    }
	}

	&__subgroups {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;

		&--name {

		}

		&--email {

		}

		&--paid {

		}

		&--not-paid {
			color: $red;
			background-color: $red-light-2;
			border: 1px solid $red;
			padding: 0.6rem;
			border-radius: 0.5rem;
		}

		&--paid-on {
			color: $green;
			background-color: $green-light-1;
			border: 1px solid $green;
			padding: 0.6rem;
			border-radius: 0.5rem;
		}
	}

	&__header {
		display: block;
		padding: 1rem;
	}
}