.reviews {
	@include hundredPercentHW();
	display: flex;

	@media (max-width: 1050px) {
		flex-direction: column-reverse;
	}

	&__list {
		@include hundredPercentHW();
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		overflow-y: scroll;
		cursor: ns-resize;

		// @media (max-width: 1050px) {
		// 	margin-bottom: 13rem;
		// }

		@media (max-width: 600px) {
			justify-content: flex-start;
		}
	}

	&__card {
		position: relative;
		min-height: 20rem;
		
		min-width: 50rem;
			max-width: 50rem;
		background-color: $white;
		margin: 1rem;
		transition: .2s;
		box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 
										0 0  0 2px rgb(255,255,255),
										0.3em 0.3em 1em rgba(0,0,0,0.3);


		@media (max-width: 1050px ) {
			// max-width: 50rem;
		min-width: 78rem;
		}

		@media (max-width: 1000px ) {
			min-width: 50rem;
			max-width: 50rem;
		}
		@media (max-width: 900px) {
			// width: 100%;
			min-width: 50rem;
			max-width: 50rem;
		}

		@media (max-width: 750px) {
			// width: 100%;
			min-width: 40rem;
			max-width: 40rem;
		}

		@media (max-width: 600px) {
			// width: 100%;
			min-width: 88vw;
		}

		&:hover {
			transform: translateY(3px);
		}
		&--header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid $grey-light-6;
			padding: 1rem 2rem;
		}

		&--item-name {
			font-weight: 500;
			display: flex;
			align-items: center;
		}

		&--item-relation {
			color: $grey-light-4;
		}

		&--item-approved {
			// margin-right: 1rem;
		}

		&--item-date {
			color: $grey-light-4;
		}

		&--item-msg {
			padding: 1rem;
			height: 100%;
			position: relative;
		}

		&--item-approved {
			color: $grey-light-4;
		}
	}

	&__new-review {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		width: 73%;
		padding: 8rem 2rem;

		grid-row: 1 / span 1;
		grid-column: 2 / span 2;
		padding: 4rem 2rem;

		@media (max-width: 1050px) {
			width: 100%;
		}

		@media (max-width: 600px) {
			padding: 0rem;
			// height: min-content;
			// height: 200vh;
		}

		&--header {
			@media (max-width: 1050px) {
				margin-bottom: 2rem;
			}
		}

		&--element {
			display: flex;
			flex-direction: column;
			padding: 1rem 0;
			width: 100%;
			height: 100%;

			@media (max-width: 1050px) {
				margin-bottom: 1rem;
			}

			@media (max-width: 600px) {
				width: 83%;
			}
		}

		&--input {
			height: 100%;
			width: 100%;
			border: 1px solid $old-blue-2;
			height: 4rem;
			padding: 1rem;
			
			&:focus {
				border: 1px dashed $old-blue-2;
				outline: none;
			}
		}

		&--label {
			color: $grey-light-6;
		}

		&--textarea {
			min-height: 55vh;
			max-height: 62vh;
			width: 100%;

			margin: 1rem 0;
			padding: 1rem;
			height: 20rem;
			color: $old-blue-2;
			border: 1px solid $old-blue-2;
			resize: vertical;
			font-family: 'Roboto', sans-serif;
			
			&:focus {
				outline: none;
				border: 1px dashed $old-blue-2;
			}

			@media (max-width: 600px) {
				height: 30vh;
				width: 83%;
			}
		}

		&--radio-btn {
			margin-right: 1.5rem;
			display: flex;
			align-items: center;
			// justify-content: center;
			transform: translateY(0.5rem);
		}

		&--radio-btns {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			@media (max-width: 1050px) {
				margin-bottom: 1rem;
				padding-right: 50rem;
			}

			@media (max-width: 1000px) {
				margin-bottom: 1rem;
			}
		}

		&--container {
			display: flex;
		}
	}

	&__login {
		display: inline-block;
		text-align: center;
		padding-left: 3rem;

		&--container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__msg--userInfoNull {

	}

	&__relation {
		color: $black;
		margin-left: 1rem;
	}
}