.sidebar {
  background: $labor-work;
  padding: 2rem;
}

.sidebar__list {
  margin-top: 2rem;
  color: $white;
  text-decoration: none;
  line-height: 2.25rem;
}

.sidebar__list--item {
    line-height: 2rem;
}